body {
    background-color: #111e245d;
}

header {
    gap: 150px;
    height: 56px;
    padding: 0 16px;
    display: flex;
}

.searchbar-mic {
    margin-left: 150px;
}

.search {
    border-color: black;
    padding: 18px;
    padding-left: 180px;
    padding-right: 80px;
    padding-top: 35px;
    border: 1px solid #8eaace6b;
    box-shadow: #0a79ac;
    border-radius: 25px;
}

.logo {
    margin-right: 45px;
}

.video-bell {
    display: flex;
    gap: 30px;
    margin-left: 100px;
    margin-right: 0px;
}

.side-bar {
    display: flexbox;
    margin-top: 70px;
}

.logo-name {
    color: white;
    font-display: bolder;
    border-radius: 25px;
    transform: translate(50px, 100px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}